/* pagination-buttons.css */

.pagination-button {
  color: #ffffff;
  background-color: rgba(0, 123, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 6px 14px;
  margin: 2px;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  backdrop-filter: blur(3px);
  z-index: 1;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

.pagination-button:hover:not(:disabled) {
  background-color: rgba(0, 123, 255, 0.3);
  cursor: pointer;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-active {
  background-color: rgba(0, 123, 255, 0.4);
  color: white;
  border-color: #ffffff;
  box-shadow: 0 0 15px rgba(13, 110, 253, 0.6);
  z-index: 2;
}


